@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}
/* Header Start */
.head{
    display: flex;
    justify-content: space-between;
}
.architects{
    margin-left: 220px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.head-list{
    display: flex;
    gap: 40px;
    margin-right: 220px;
    margin-top: 60px;
    font-weight: 500;
    font-size: 18px;
}
/* Header End */
/* Section-1 Add Banner */
.container{
    text-align: center;
}
.banner-head{
    font-weight: 700;
    font-size: 55px;
    margin-left: 350px;
    margin-right: 350px;
}
.banner-pragraph{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.explore{
    width: 180px;
    height: 64px;
    margin-top: 30px;
    background-color: #FF900E;;
    border-radius: 5px;
    border-color: #FF900E;;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
.banner img{
    width: 1000px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 45px;
}
/* Section-1 Add Banner End */
/* Section-2 Add Team Work  */
.tram-work{
    display: flex;
    justify-content: flex-start;
}
.team-pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
    margin-left: 250px;
    margin-right: 30px;
}
.team img{
    width: 280px;
    height: 280px;
    margin: 25px;
}
.work{
    margin-top: 170px;
    margin-right: 220px;
}
.other{
    font-weight: 500;
    font-size: 30px;
}
.other-pra{
    font-weight: 400;
    font-size: 12px;
    color: #727272;
}
.quick{
    color: #727272;
}
.list{
    color: #FF900E;
}
/* Section-2 Add Team Work End */
/* Section-3 Add Futures */
.future{
    display: flex;
    margin-top: 150px;
    margin-bottom: 80px;
}
.future-pra{
    margin-left: 220px;
}
.enjoy{
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid #FF900E;;
}
.enjoy-pra{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.box{
    width: 400px;
    height: 140px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.dexktop{
    font-weight: 600;
    font-size: 20px;
}
.future-img img{
    width: 520px;
    height: 860px;
    margin-right: 200px;
    margin-top: 60px;
}
.button{
    width: 160px;
    height: 100px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
}

/* Section-3 Add Futures End */
/* Section-4 Add Some Facts */
.some-facts{
    margin-left: 220px;
}
.some{
    font-weight: 700;
    font-size: 45px;
}
.facts{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.column{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.icon{
    justify-content: center;
    text-align: center;
    border: 1px solid #FF900E;
    background-color: #FFFFFF;
    width: 170px;
    height: 170px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Section-4 Add Some Facts End */
/*Section-5 Add Our Sponsors */
.all-sponsors{
    text-align: center;
}
.sponsors{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 60px;
}
.all{
    font-weight: 700;
    font-size: 45px;
}
.all-pra{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.site{
    width: 165.83px;
    height: 50px;
}
/*Section-5 Add Our Sponsors End*/
.contact{
    text-align: center;
    background-color: rgba(255, 144, 14, 0.1);
    margin-left: 160px;
    margin-right: 150px;
    border-radius: 8px;
}
.massege{
    font-weight: 700;
    font-size: 30px;
    color: #181818;
}
.name{
    width: 261px;
    height: 34px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 10px;
}
.text{
    margin-top: 10px; 
    border-radius: 5px;
}
.submit{
    height: 44px;
    border-radius: 5px;
    background: #FD6E0A;
    width: 120px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
}

/* Footer */
.footer{
    margin-top: 70px;
    text-align: center;
    width: 950px;
    height: 100px;
    color: #727272;
    background-color: rgba(255, 144, 14, 0.1);
    margin-left: 260px;
    border-radius: 8px;
    position: absolute;
}
/* Footer End */

@media only screen and (max-width: 576px){
    .head{
        flex-direction: column;
    }
    .architects{
        margin: 0px;
        text-align: center;
    }
    .head-list{
        flex-direction: column;
        gap: 0px;
        margin: 0px;
        text-align: center;
    }
    .banner-head{
        margin: 0px;

    }
    .banner img{
        width: 350px;
        height: 200px;
    }
    .tram-work{
        flex-direction: column;
    } 
    .team-pic{
        margin: 0;
        grid-template-columns: repeat(1, 4fr);
    }   
    .work{
        margin: 0px;
        text-align: center;
    }
    .future{
        flex-direction: column;
    }
    .future-pra{
        margin: 0px;
    }
    .future-img{
        align-items: center;
    }
    .future-img img{
        width: 380px;
        height: 560px;
    }
    .some-facts{
        margin: 0px;
        text-align: center;
    }
    .column{
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }
    .sponsors{
        flex-direction: column;
        align-items: center;
    }
    .contact{
        margin: 0px;
    }
    .massege{
        text-align: center;
        width: 200px;
    }
    .footer{
        margin-top: 40px;
        margin-left: 0px;
        align-items: 0px;
        width: 360px;
    }
}